@font-face{
  font-family:'宋体';
  src:url("../medias/font/方正书宋.TTF")
}

body {
  display: flex;
    font-size: 12pt;
    justify-content: center;
}
.glass-container {
  top: 50px;
  position: relative;
  width: calc(100% - 10px);
  height:480px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 3px;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.08);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  border: 0px rgba(255, 255, 255, 0.4) solid;
  border-bottom: 0px rgba(40, 40, 40, 0.35) solid;
  border-right: 0px rgba(40, 40, 40, 0.35) solid;
  animation: heart 1.3s ease-in-out 2.7s infinite alternate
}


@keyframes heart{
from{transform:translate(0,0)}
to{transform:translate(0,12px)}
}
.container{
  left: 0;
  height: 200px;
  width: 100%;
  display: block;
  background:rgba(0,0,0,0.5);
}.logo{
  height: 30px;
  text-align: center;
  font-family: Monospace;
  font-size: 21pt;
}
#word{
  padding-top: 6px;
  color: #fff;
  left: 0;
  width:100% ;
  text-align:center;
  font-style: border;
  font-size: 16pt;
  font-family: '宋体';
}
#author,
#protical{
    left: 0;
  width:100% ;
  text-align:center;
  font-style: border;
  font-size: 8pt;
  font-family:'宋体';
}
.wrapper-main{
  top: 0;
  z-index: -999;
  position: absolute;
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
  background: url("../medias/banner/6.jpg") no-repeat;
}
.icon-container{
  width: 100%;
  top: 50px;
  position: absolute;
  display: flex;
  justify-content: center;
}
input[type=image]{
  border-radius: 50%;
  height: 69px;
  width: 69px;
}
#loaderImage{
  display: flex;
  justify-content: center;
  background:#fff;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 999;
  top: 0;
}
.wrapper{
  height: 100%;
  width: 100%;
  position:absolute;
  display: flex; /*宽屏*/
  top: 0;
  bottom: 0;
  right:0;
  left: 0;
  background: mediumaquamarine;
}
#main-box{
  height:100%;
  width:50%;
  position: relative;
  display: block;
  padding: 0;
  color: #fff;
  background: mediumpurple;
}
#main-box> .w-box{
  margin-top:12px;
  text-align: center;
 justify-content: center;
  width: 100%;
  display:flex;
}
.w-box span{
  position:relative;
  width:90px;
  background: mediumblue;
}
.span-left{
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.span-right{
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
input[type=text]{
  outline: none;
  border: none;
}


/*LOADER*/
.loader-wrapper{
  height: 100%;
  width: 100%;
  position:absolute;
  display: flex;
  justify-content: center;
  z-index: 999;
  background: #fff;}
.loader {
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  position: relative;
  width: 60px;
  height: 60px;
  /* border-radius: 50%; */
  display: inline-block;
  vertical-align: middle;
}
.loader-7 .line {
  width: 8px;
  position: absolute;
  border-radius: 5px;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#1ee95d), to(#5714ce));
  background: -webkit-linear-gradient(top, #eee, #5714ce);
  background: -o-linear-gradient(top, #eee, #5714ce);
  background: linear-gradient(to bottom, #eee, #5714ce);
}

.loader-7 .line1 {
  left: 0;
  -webkit-animation: line-grow 0.5s ease alternate infinite;
  animation: line-grow 0.5s ease alternate infinite;
}

.loader-7 .line2 {
  left: 20px;
  -webkit-animation: line-grow 0.5s 0.2s ease alternate infinite;
  animation: line-grow 0.5s 0.2s ease alternate infinite;
}

.loader-7 .line3 {
  left: 40px;
  -webkit-animation: line-grow 0.5s 0.4s ease alternate infinite;
  animation: line-grow 0.5s 0.4s ease alternate infinite;
}
@-webkit-keyframes line-grow {
  0% {height: 0;}
  100% {height: 75%;}}
@keyframes line-grow {
  0% {height: 0;}
  100% {height: 75%;}}
