@font-face{
  font-family:'宋体';
  src:url("../medias/font/方正书宋.TTF")
}

body {
  display: flex;
    font-size: 12pt;
    justify-content: center;
}
.glass-container {
  top: 50px;
  position: relative;
  width: calc(100% - 10px);
  height:480px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 3px;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.08);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  border: 0px rgba(255, 255, 255, 0.4) solid;
  border-bottom: 0px rgba(40, 40, 40, 0.35) solid;
  border-right: 0px rgba(40, 40, 40, 0.35) solid;
  animation: heart 1.3s ease-in-out 2.7s infinite alternate
}


@keyframes heart{
from{transform:translate(0,0)}
to{transform:translate(0,12px)}
}
.container{
  left: 0;
  height: 200px;
  width: 100%;
  display: block;
  background:rgba(0,0,0,0.5);
}.logo{
  height: 30px;
  text-align: center;
  font-family: Monospace;
  font-size: 21pt;
}
#word{
  padding-top: 6px;
  color: #fff;
  left: 0;
  width:100% ;
  text-align:center;
  font-style: border;
  font-size: 16pt;
  font-family: '宋体';
}
#author,
#protical{
    left: 0;
  width:100% ;
  text-align:center;
  font-style: border;
  font-size: 8pt;
  font-family:'宋体';
}
.wrapper-main{
  top: 0;
  z-index: -999;
  position: absolute;
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
  background: url("../medias/banner/6.jpg") no-repeat;
}
.icon-container{
  width: 100%;
  top: 50px;
  position: absolute;
  display: flex;
  justify-content: center;
}
input[type=image]{
  border-radius: 50%;
  height: 69px;
  width: 69px;
}
#preloader{
  position:fixed;
  z-index:999;
  background:#fff;
  color:#000;
  width:100%;
  height:100%;
  text-align: center;
  top:0;bottom:0;
  left:0;right:0;
  right: 0;
  margin:auto;
}
