*{
    margin: 0;
}
body,
html{
    width: 100%;
}
.navbar{
    height: 50px;
    background: #000;
    position: fixed;
    width: 100%;
	z-index: 999;
}
.navbar ul{
    display: flex;
}
.navbar li{
    margin: 0 6px;
    list-style: none;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    overflow: hidden;
}